body{
  width: 960px;
  margin:auto;
  display: flex 1;
  background: white;
  font-family: 'Titillium Web', sans-serif;
}

header{
  flex:1;
  background: green;
}

nav{
  height: 50px;
  background: rgba(0, 0, 0, 0.85);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 960px; /* Full width */
}

ul{
  text-align: center;
  flex: 1;
}

li{
  display: inline;
  justify-content: space-between;
}

h1{
  display: flex;
  justify-content: center;
  padding: 100px, 100px, 100px 150px;
}

.logo{
  height:300px;
  position:relative;
}

/*------------- Typography -----------------*/

h2{

}
