body{
  width: 960px;
  margin:auto;
  display: flex 1;
  background: white;
  font-family: 'Titillium Web', sans-serif;
}

header{
  padding: 150px 100px 100px 100px;
}

nav{
  background: rgba(0, 0, 0, 0.85);
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  width: 960px;
  padding: 25px 0 25px 0;

}

ul{
  text-align: center;
  display:flex;
}

li{
  flex: 1;
  display: inline;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover, i:hover{
  color:#26d0dc;
}

h1{
  display: flex;
  justify-content: center;
}

.logo{
  height:300px;
}

section{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 25% auto 25%;
}

.title {
    display:flex;
    justify-content: center;
}

.charity{
  width: 200px;
  padding: 50px 0px 0px 0px;
}

.timer{
  visibility: hidden;
}

#lastrow{
  padding-bottom: 100px;
}

footer{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

/*------------- Typography -----------------*/
.textlogo{
  font-family: 'Bungee', cursive;
}

i{
  padding-right: 5px;
  color: black;
  font-size: 1.5em;
}

h2{
  flex:1;
  text-transform: uppercase;
  font-size: 100px;
  padding: 50px 0 100px 0;
  text-align: center;
}


p{
  max-width: 500px;
  text-align: left;
}

.charitysec h3{
  text-transform: uppercase;
  margin-top: 25px;
}
