<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Charisky</title>
  <link href="reset.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee|Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="script.js"> </script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="charities.html">Charities</a></li>
      <li class=textlogo><a href="index.html">Charisky</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>

  <section>
    <article class="description">
      <h2 id="hugetext">Hooray!</h2>
        <p class="midtext">Thank you for donating $X to Charity!</p>
        <p>If you didn’t want to spend money, you should have stayed away from those distracting sites lolololol.
          If you want to further support this charity, please visit https://www.thischarity.com. </p>
    </article>
  </section>

  <footer>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </footer>
</body>
</html>
